PORT=4001
NODE_ENV=development
DB_HOST=127.0.0.1
DB_PORT=3307
DB_USER=root
DB_PASSWORD=root
DB_NAME=sistema_rutas_operadores
JWT_SECRET=cambiar_este_secreto_en_produccion
JWT_EXPIRES_IN=8h
FRONTEND_URL=http://localhost:5174
PUBLIC_APP_URL=http://localhost:5174
DEVIATION_WARNING_METERS=80
